.content {
    max-width: 600px;
    height: 100vh;
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    width: 0 !important
}

.content__header {
    padding: 0 10px;
    display: flex;
    position: sticky;
    background-color: white;
    top: 0;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
    border: 1px solid var(--border-color);
    font-size: 20px;
    font-weight: 700;
}


