:root {
    --twitter-blue: #1DA1F2;
    --twitter-blue-dark: #1a91da;
    --twitter-retweet: #e0f1e8;
    --twitter-green: #17bf63;
    --twitter-red: #e44375;
    --twitter-like: #f5e2e8;
    --twitter-background: #e8f5fe;
    --border-color: rgb(235, 238, 240);
}

* {
    font-family: Segoe UI, serif;
    margin: 0;
}
