.sidebar {
    width: 100%;
    max-width: 350px;
    margin: 8px 30px;
}

.sidebar__header {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #EBEEF0 ;
    border-radius: 50px;
}

.sidebar__header:focus-within{
    background-color: white;
    box-shadow: 0 0 0 0.5pt var(--twitter-blue);
}
.sidebar__header__closeIcon {
    color: var(--twitter-blue);
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.sidebar__header > input {
    width: 100%;
    border: 0;
    border-radius: 50px;
    background-color: inherit;
}
.sidebar__header > input:focus {
    outline: none;
}

.sidebar__header__searchIcon {
    font-size: 20px;
    padding: 10px;
}
.sidebar__header__searchIcon--active {
    color: var(--twitter-blue);
}

@media only screen and (max-width: 1100px) {
    .sidebar {
        display: none;
    }
}
